@model IEnumerable<AutoCare.Models.Cars>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cars</h1>

<div id="view-all">
    @await Html.PartialAsync("_ViewAll", Model)
</div>


                
